/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Ubuntu";
  font-weight: 400;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background-color: #f6f6f6;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

nav {
  position: fixed;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background: rgba(101, 88, 82, 0.85);
  z-index: 9;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  white-space: nowrap;
}
.menu__elem1 {
  display: flex;
  align-items: center;
}
.menu__elem2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.menu__logo {
  font-size: 36px;
  font-family: "Ubuntu";
  font-weight: 700;
  color: #fff;
  border-right: 1px solid white;
  height: 40.5px;
  padding-right: 10px;
}
.menu__descr {
  color: #fff;
  padding-left: 10px;
  margin-right: 40px;
}
.menu__button {
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 12px;
  border-radius: 0.25rem;
  margin-left: 40px;
  transition: 0.2s;
}
.menu__button:hover {
  background: rgba(41, 31, 28, 0.8);
}
.menu__nav a {
  color: #fff;
  padding: 0 10px;
}
/* intro */
.intro {
  position: relative;
}
.intro__img1 {
  width: 100%;
  height: 400px;
}
.intro__img2 {
  display: none;
}
.intro__img3 {
  display: none;
}
.intro__descr {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  color: #fff;
  padding: 27px 20px 20px 27px;
  text-align: center;
  font-family: "Ubuntu";
  font-weight: 500;
}

.intro__phones {
  position: absolute;
  top: 16%;
  left: calc(100% - 330px);
}

.intro__phones img {
  width: 25px;
  height: 25px;
  margin-right: 9px;
}
.intro__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 5px;
  background-color: #fc0;
  width: 300px;
  height: 42px;
}
.intro__angle_left,
.freeMeasurin__angle_left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  border-top: 10px solid #fc0;
  border-left: 10px solid #fc0;
}

.intro__angle_right,
.freeMeasurin__angle_right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-bottom: 10px solid #fc0;
  border-right: 10px solid #fc0;
}

/* catalog */

.catalog__container {
  display: flex;
  justify-content: center;
}
.catalog__elem {
  position: relative;
  padding-top: 60px;
  max-width: 540px;
}
.catalog__img {
  padding: 0 20px;
  width: 540px;
  height: 170px;
}
.catalog__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 23%;
}
.catalog__title a {
  color: #fff;
  font-size: 28px;
  font-family: "Ubuntu";
  font-weight: 700;
}
.catalog__title p {
  color: #fff;
  text-align: center;
  padding-top: 10px;
}

.catalog__label {
  padding: 20px 40px 0 40px;
  font-family: "Ubuntu";
  font-weight: 700;
}

.catalog__label a {
  font-size: 28px;
  color: #000;
  font-family: "Ubuntu";
  font-weight: 700;
}

.catalog__label p {
  font-size: 12px;
  padding-top: 7px;
}
/* free measurin */

.freeMeasurin {
  background: url(/img/free_measurin.jpg);
  background-position: center;
  padding: 50px 0;
  background-size: cover;
  margin: 40px 0;
}
.freeMeasurin__label {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 36px;
  color: #000;
  padding: 27px 20px 20px 27px;
  font-family: "Ubuntu";
  font-weight: 500;
  margin-left: 100px;
}

/* cards */

.cards__elem {
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgb(73 78 92 / 15%);
  background: #fff;
}
.cards__label--1 {
  background: url(/img/cards/1.gif);
}
.cards__label--2 {
  background: url(/img/cards/1.gif);
}
.cards__label--3 {
  background: url(/img/cards/3.jpg);
}
.cards__label--4 {
  background: url(/img/cards/4.jpg);
}
.cards__label--5 {
  background: url(/img/cards/5.jpg);
}
.cards__label--6 {
  background: url(/img/cards/6.jpg);
}
.cards__label {
  width: 520px;
  height: 187px;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-left: 14px;
  text-align: left;
  color: #fff;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.cards .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards__elem button {
  background: #ffcc00;
  display: inline-block;
  padding: 6px 30px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  margin-top: 10px;
}

.cards__descr p {
  padding-bottom: 20px;
  text-indent: 20px;
  text-align: justify;
  font-size: 14px;
}

/* footer */

footer nav {
  min-height: 1500px;
  position: static;
  background: #222222;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
  padding: 35px 0px 25px;
  color: #fff;
  font-size: 14px;
}
.footer__subDescr {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 60px 0;
}
