/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

nav {
  position: fixed;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background: rgba(101, 88, 82, 0.85);
  z-index: 9;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  white-space: nowrap;
}
.menu__elem1 {
  display: flex;
  align-items: center;
}
.menu__elem2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.menu__logo {
  font-size: 36px;
  font-family: "Ubuntu-Bold";
  color: #fff;
  border-right: 1px solid white;
  height: 40.5px;
  padding-right: 10px;
}
.menu__descr {
  color: #fff;
  padding-left: 10px;
  margin-right: 40px;
}
.menu__button {
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 12px;
  border-radius: 0.25rem;
  margin-left: 40px;
  transition: 0.2s;
}
.menu__button:hover {
  background: rgba(41, 31, 28, 0.8);
}
.menu__nav a {
  color: #fff;
  padding: 0 10px;
}
/* intro */
.intro {
  position: relative;
}
.intro__img1 {
  width: 100%;
  height: 400px;
}
.intro__img2 {
  display: none;
}
.intro__img3 {
  display: none;
}
.intro__descr {
  position: absolute;
  top: 42%;

  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  color: #fff;
}
.intro__phones {
  position: absolute;
  top: 70px;
  right: 0;
  width: 300px;
  height: 90px;
}
